/* common-style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.adjestment{
    max-width: 1140px;
    margin: 0 auto;
}

.color1{
    color: #252432;
}

.color2{
    color: #8987A1;
}

.color3{
    color: #000000;
}

.color-span{
    color: #E95A08;
}

.button-style{
    background-color: #E95A08;
    border: none;
    color: white;
    padding: 20px 80px;
    font-size: 1rem;
    font-weight: 600;
}

/* navbar-section-style */

.navbar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    width: 135px;
    height: 82px;
}

.navbar-right a{
    text-decoration: none;
    padding: 30px;
    font-size: 1em;
}

.navbar-right i{
    margin-right: -25px;
}

/* banner-section-style */

.banner-section{
    margin-top: 115px;
    display: flex;
    align-items: end;
    flex: 1;
}

.banner-title{
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 700;
}

.banner-text{
    font-size: 1.25rem;
    color:#8987A1;
}

/* cart-section-style */

.card-section{
    margin-top: 100px;
    text-align: center;

}

.card-heading{
    font-size: 3rem;
    font-weight: 700;
}

.card-text{
    font-size: 1.25rem;
    margin: 20px;
}

.card-contaner{
        margin-top: 50px;
}

.card-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


.card-contant{
    margin-top: 25px;
    font-size: 1.25rem;
}

.card-price{
    padding: 10px 0;
    font-weight: bold;
}

/* flower-section-style */

.flower-store-section{
    margin: 120px auto;
}

.flower-store-contantner{
    display: flex;
    gap: 60px;
}

.flower-store-left-part{
    position: relative;
    display: inline-block;
}

.flower-store-right-part{
    margin: 30px;
}

.flower-store-heading{
    font-size: 3rem;
    font-weight: 700;
}

.flower-store-text-list{
    font-size: 1.6rem;
    color: #8987A1;
}

.flower-store-text{
    margin: 30px;
}

.trasted-badge{
    max-width: 280px;
    position: absolute;
    top: -120px;
    right: -100px;
}

.spin{
    animation: spin 5s linear 0s infinite;
}

/* flower-plant-style */

.flower-plant-section{
    margin: 60px auto;
}

.flower-plant-heading{
    font-size: 3rem;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}

.flower-plant-text{
    font-size: 1.25rem;
    margin-bottom: 60px;
    text-align: center;
}

.flower-plant-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flower-plant-left{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    min-width: 30%;
}

.flower-plant-image.zabo{
    flex: 2;
    width: 60%;
    height: 410px;
}

.flower-plant-text1 h2{
    font-size: 1.25rem;
    font-weight: 700;
}

.flower-plant-text1 a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.flower-plant-text2 h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.flower-plant-text2 a{
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}

/* images-style */

.flower-plant-image{
    background-size: cover;
    background-position: center;
    height: 195px;
    border-radius: 12px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* background-image */

.bloom{
    background-image: url("../images/deal-bloom.png");
}

.ana{
    background-image: url("../images/deal-ana.png");
}

.zabo{
    background-image: url("../images/deal-zabo.png");
}



/* color-bunch-style */

.colorful-bunch-section{
    background-image: url("../images/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.colorful-bunch-container{
    position: absolute;
    max-width: 830px;
}

.colorful-bunch-heading{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.togather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.colorful-bunch-container input{
    padding: 12px;
    font-size: 1rem;
    color: #8987A1;
    border: none;
    width: 500px;
}

.colorful-bunch-container button{
    background-color: #E95A08;
    padding: 12px 25px;
    border: none;
    font-size: 1rem;
    color: white;
}

/* footer-section-style */

.footer-section{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 160px;
}

.footer-contaner1 p{
    padding:10px 0 ;
}

.footer-contaner2,.footer-contaner3 {
    list-style: none;
}

.footer-section li {
    padding: 10px;
}

.footer-section li a{
    text-decoration: none;
}

.footer-contaner4 img{
    padding: 0 10px;
}




/* animation */

@keyframes spin{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}

/* responsiveness */

@media screen and (max-width:576px) {
    .navbar-right .nav-a{
        display: none;
    }
    .banner-section{
        flex-direction:column-reverse;
        margin-top: 20px;
    }
    .banner-left{
        margin: 20px 10px;
    }
    .card-item{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        max-width: 100%;
    }
    .flower-store-contantner{
        flex-direction: column;
    }
    .spin{
        display: none;
    }
    .flower-plant-section{
        flex-direction: column;
    }
    .flower-plant-image{
        width: 420px;
        height: 195px;
    }
    .colorful-bunch-section{
        width: 100%;
    }
    .togather{
        align-items: center;
    }
    .togather input{
        width: 55%;
    }
    .togather button{
        width: 25%;
    }
    .footer-section{
        flex-direction: column;
    }
    .footer-contaner4 {
        width: 80%;
    }

}